.row {
    display: flex;
  }
  
  .column {
    flex: 25%;
    border: 2px solid grey;
    
  }

   
 .img-set{
    height: 250px;
    width: 283px;
     margin: 0 auto;

}
.caption{
    text-align: center;
    margin: 0 auto;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.col-md-4{
    margin-right: 10px;
}

.column:hover {
    border: 2px solid black;
}