*{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.first{
    width: 20%;
    height: 25%;
    border: 1px solid grey;
   float: left;

}
.second {
    width: 80%;
    height: 25%;
    border:  solid grey;
    border-width: 1px 1px 1px 0px ;
    float: left;
    
}
.third{
    width:20%;
    height: 45%;
    border: solid grey;
    border-width: 0px 1px 1px 1px;
    float: left;
}
.fourth {
    width: 60%;
    height: 45%;
    border: solid grey;
    border-width: 0px 1px 1px 0px;
    float:left;
    }
.fifth {
    width: 20%;
    height: 45%;
    border: solid grey;
    border-width: 0px 1px 1px 0px;
    float: left;
}
.sixth {
    width: 100%;
    height: 30%;
    border: solid grey;
    border-width: 0px 1px 1px 1px;
    float:left;
}
